/* Normalize some margins
 *
 * Redundant selectors like `.side.side` are to increase specificity
 * to safeguard against subreddits that use `!important`
 */
#siteTable#siteTable, .commentarea.commentarea, .link.link {
  margin-right: 0 !important;
  padding-right: 0px !important;
}
.content[role="main"] {
  margin-right: 5px !important;
  overflow: hidden !important;
  padding-right: 0 !important
}
.side.side {
  margin-left: 5px !important;
}
.wiki-page-content {
  margin-right: 15px !important;
}
.infobar, .searchpane {
  margin-right: 0 !important;
}
.panestack-title {
  margin-right: 10px !important;
}

/* Toggle link */
.toggle-sidebar {
  cursor: pointer;
}
.toggle-sidebar:hover {
  text-decoration: underline;
}
