/* Normalize some margins */
#siteTable {
  margin-right: 0 !important;
}
.content[role="main"] {
  margin-right: 5px !important;
  overflow: hidden !important;
}
.link {
  margin-right: 5px !important;
}

/* Toggle link */
.toggle-sidebar {
  cursor: pointer;
}
.toggle-sidebar:hover {
  text-decoration: underline;
}
